# MEST Pre-Work

## Introduction to Python Programming
* Functions
* Classes
* Operators

__Python Variables__

You may initialize your variables by simply assigning the value to the variable name. No need to specify a type for the variable

In [ ]:
a = 1
print(type(a))

You may find out the type of a variable by asking the interpreter to print out the result of `type()`

In [ ]:
b = 2.0
print(type(b))

In [ ]:
c = 'hello'
print(type(c))

You may carry out simple mathematical operations

In [ ]:
print(type(a + 0.0))

In [ ]:
print('the value of a is {}'.format(a))

In [ ]:
# modulo
print(20 % 3)

In [ ]:
# exponential
print(3 ** 3)

In [ ]:
print(40 // 3)

__Conditionals__

In [ ]:
# Equal to
x = 40 % 3
if x == 2:
  print('1 remains')

In [ ]:
# Not Equal to
if a != 2:
  print('not equal to 2')

In [ ]:
# Greater than
if a > 1:
  print('satisfied')

In [ ]:
# Greater than or equal to
if a >= 1:
  print('condition satisfied')

In [ ]:
# Less than
if a < 2:
  print('satisfied')

In [ ]:
# Less than or equal to
if a <= 2:
  print('satisfied')

In [ ]:
if a == 2:
  print('2')
elif a == 1:
  print('1')
else:
  print('neither')

In [ ]:
a = 0
if 20%3 == 1:
  a = 1
else:
  a = 2
print(a)

In [ ]:
x = 2
y = 3
a = (x == y) ? 1 : 2

In [ ]:
try:
  if x = 2:
    print('2')
except:
  print('something went wrong')

__Loops__

In [ ]:
# do this n times
n = 15
#[2,15)
for i in range(2, n, 3):
  print(i)
  
# in what other ways can we make use of range?

In [ ]:
_range = range(5)
print(_range)

In [ ]:
# do this n times
n = 10
for i in range(1, n, 2):
  print(i)
  
# in what other ways can we make use of range?

In [ ]:
# do this n times
n = 10
for i in range(n, 0, -2):
  print(i)
  
# in what other ways can we make use of range?

In [ ]:
# do this as long as a condition is true
n = 5
while n > 0:
  print(n)
  n = n - 1

__Some shortcuts__

In [ ]:
n = 2
n = n + 3
print(n)

n = 2
n += 3
print(n)

In [ ]:
n = 3
n *= 7
print(n)

### Functions - making things repeatable

$f(x) = x + 2$

In [ ]:
a1 = 7
a2 = 332
a3 = 19

print(a1 + 2)
print(a2 - 2)
print(a3 + 2)

In [ ]:
def add_2(x):
  return x + 2

In [ ]:
print(add_2(a1))
print(add_2(a2))
print(add_2(a3))

# Fibonnacci Sequence

$f_1 = 0$

$f_2 = 1$

$f_n = f_{n-1} + f_{n-2}$

0 1 1 2 3 5 8 13 ...

In [ ]:
def fib_2(x):
  x0 = 0
  x1 = 1
  x2 = 1
  for i in range(x):
    x0 = x1
    x1 = x2
    x2 = x0 + x1
  return x2

In [ ]:
def my_abs(x):
  if x < 0:
    return x * -1
  return x

In [ ]:
print(my_abs(-9))

In [ ]:
print(my_abs(7))

In [ ]:
def ibrahim_sqrt(x):
  return x ** 0.5

In [ ]:
print(ibrahim_sqrt(9))

### Question:
Can we pass functions as parameters to other functions?

### Question:
Can we pass default parameters to functions?

In [ ]:
def f(x=2):
  return x
  
print(f())
print(f(3))
print(f(4))
print(f())

In [ ]:
a = f(3)
print(a)

_ = f(3)

### Lambda Functions

In [ ]:
f = lambda x: x ** 2

In [ ]:
print(f(3))

In [ ]:
g = lambda x,y: x ** y
print(g(3,4))

In [ ]:
def my_pow(base, power):
  return base ** power

In [ ]:
print(my_pow(2, 9))
print(my_pow(3, 3))

In [ ]:
def f_pow(n):
  return lambda a: a ** n

In [ ]:
sqr = f_pow(2)
print(sqr(9))

In [ ]:
cube = f_pow(3)
print(cube(3))

$f(x) = w.x + b$

2, 5

3, 10

4, 17

## Classes

Think of classes as recipes. An object is an instance of a class.

In [ ]:
class Class1:
  x = 0

In [ ]:
_c1 = Class1()
_c2 = Class1()
_c3 = Class1()
print(_c1.x, _c2.x, _c3.x)

In [ ]:
print(_c1 is _c2)

In [ ]:
class Class1:
  x = 0

In [ ]:
class Class2:
  def __init__(self, a, b):
    self.a = a #this is the length
    self.b = b #this is the width
    self.c = a ** b
    
  def doSomething(self):
    return self.a / self.b
  
  def doSomethingElse(self, multiplier):
    return self.a / self.b * multiplier

In [ ]:
_c = Class2(2,3.5)
print(_c.c)

In [ ]:
_d = Class2(3,4)
print(_d.c)
print(_d.doSomething())
print(_d.doSomethingElse(8))

In [ ]:
c1 = Class2(4,5)
c2 = Class2(5,6)
c3 = Class2(6,7)

In [ ]:
print(c2.doSomething())
print(c2.c)

## Question:
Can we have a class that does what Class2 does, and then more?

a = 5

b = 6

c = Class2(a,b)

In [ ]:
class Class3(Class2):
  def __init__(self, a, b, d):
    super().__init__(a, b)
    self.d = d
    self.e = (self.a + self.b) * d * self.c
    
  def _toString(self):
    print('a: {}, b: {}, c: {}, d: {}, e: {}'.format(self.a, self.b, self.c, self.d, self.e))

In [ ]:
c = Class3(4, 5, 6)

In [ ]:
print(c.a, c.b, c.c, c.d, c.e)

In [ ]:
c._toString()

## Problem

$ \frac{x - a}{b} = \frac{x + c}{d} $

Create a class to solve for x

## Problem

$ a[b - (c.x - d) + a.x] = 0 $

Solve for x

## Python Data Structures
* Lists
* Dictionaries
* Stacks
* Queues

## Lists
Collection type that is ordered and changeable

In [ ]:
_list1 = ['zero', 'first', 'second', 'third']
print(_list1)
print(len(_list1))

0-based index

In [ ]:
print(_list1[2] )

can we start counting from the end?

In [ ]:
print(_list1[-1])

extract a range

In [ ]:
_list = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
print(_list[2:5])

update the value at index 0

In [ ]:
_list[0] = 'updated zero'
print(_list)

can we iterate over a list?

In [ ]:
for i in _list:
  print(i)

can we check for an item in a list?

In [ ]:
if 'two' in _list:
  print('exists')

In [ ]:
print(len(_list))
_list[9] = 'ten'
print(_list)

Let's `append()` to the list

In [ ]:
print(len(_list1))
_list1.append('four')
print(len(_list1))

Let's `insert()` an item at the specified index

In [ ]:
print(_list)
_list.insert(9, 'nine')
print(_list)

A stack is a collection that lends itself to push and `pop()` operations. We have used `append()` to push, now let's `pop()`
* By appending to the front and popping from the back, you create a queue
* By appending to the back and popping from the back, you create a stack

To copy a list, subset the entire list

In [ ]:
_list2 = _list1

In [ ]:
print(_list1)
print(_list2)

In [ ]:
_list1[0] = 'mod zero'
print(_list1)
print(_list2)

In [ ]:
print(_list1 is _list2)

In [ ]:
_list2 = list(_list1)
print(_list1 is _list2)

Or use the copy method

In [ ]:
_list3 = _list1.copy()
print(_list1 is _list3)

In [ ]:
print(_list1)
print(_list3)

In [ ]:
_list3[0] = 'zero'
print(_list1)
print(_list3)

Use `extend()` to copy the elements of one list to another

In [ ]:
print(_list1)
print(_list)

In [ ]:
_new_list = _list1.copy()
_new_list.extend(_list)
print(_new_list)

Use `sort()` to sort a list

In [ ]:
_new_list.sort()
print(_new_list)

In [ ]:
_new_list.sort(reverse=True)
print(_new_list)

Use `reverse()` to reverse a list

## Tuples
An immutable collection of ordered items

In [ ]:
_tuple1 = ('zero', 'one', 'two')

print element 0

In [ ]:
print(_tuple1[0])

In [ ]:
def _ret_tuple():
  return ('a', 'b')

In [ ]:
x, y = _ret_tuple()
print(x, y)

convert tuple to list

In [ ]:
my_list = list(_tuple1)

convert list to tuple

In [ ]:
my_tuple = tuple(my_list)

In [ ]:
for i in my_tuple:
  print(i)

## Sets
Unordered, unindexed

In [ ]:
_set1 = {'one', 'nine', 'four'}

get the items

In [ ]:
for i in _set1:
  print(i)

`add()` an item

In [ ]:
_set1.add('two')
print(_set1)

_set1.add('two')
print(_set1)

`remove()` an item

In [ ]:
_set1.remove('nine')
print(_set1)

In [ ]:
_set1.add(1)
print(_set1)

## Dictionary
Unordered collection of key-value pairs

In [ ]:
_dict1 = {'k1':'v1', 'k2':'v2'}
print(_dict1)

In [ ]:
_dict2 = dict(k1='v1', k2='v2')
print(_dict2)

You may maintain your information in two lists as follows:

In [ ]:
_countries_list = ['Kenya', 'Rwanda', 'Uganda']
_temperatures_list = [17, 19, 21]

for i in range(len(_countries_list)):
  print('country: {} temperature: {}'.format(_countries_list[i], _temperatures_list[i]))

Or you may maintain the data in a dictionary

In [ ]:
_countries_dict = {'Kenya': 17, 'Rwanda': 19, 'Uganda': 21}
print(_countries_dict)

print the value of `Kenya`

In [ ]:
print(_countries_dict['Kenya'])

use the `get()` method for similar effect

In [ ]:
print(_countries_dict.get('Ghana', 0))

In [ ]:
_kenya_temp = {'mon':11, 'tue':11, 'wed':13, 'thu':11, 'fri':12}
_rwanda_temp = {'mon':10, 'tue':18, 'wed':17, 'thu':17, 'fri':10}
_uganda_temp = {'mon':19, 'tue':18, 'wed':19, 'thu':17, 'fri':18}
_countries_2_dict = {'Kenya': _kenya_temp, 'Rwanda': _rwanda_temp, 'Uganda': _uganda_temp}
print(_countries_2_dict)

The dictionary contains daily temperatures for three different countries, but it's a bit hard to read because we are used to Excel sheets.

In [ ]:
_countries = ['Kenya', 'Rwanda', 'Uganda']
_temps = [17, 14, 21]

_countries_dict = {}

for i in range(len(_countries)):
  _countries_dict[_countries[i]] = _temps[i]
print(_countries_dict)

Update the value of `Kenya`

In [ ]:
_countries_dict['Kenya'] = 18
print(_countries_dict)

try looping over a dictionary

In [ ]:
for i in _countries_dict:
  print(i)

iterate over keys and values

In [ ]:
for _, v in _countries_dict.items():
  print('value: {}'.format(v))

how many elements does the dictionary contain?

In [ ]:
print(len(_countries_dict))

how do we add an item to the dictionary?

how do we remove an item?

In [ ]:
_ = _countries_dict.pop('Uganda')
print(_countries_dict)

how do we `copy()` ?

can dictionaries contain other dictionaries?

what does `get()` do?

##Moving in lock-step

In [ ]:
_countries = ['Kenya', 'Rwanda', 'Uganda']
_temps = [17, 14, 21]

_countries_dict = {}

for i in range(len(_countries)):
  _countries_dict[_countries[i]] = _temps[i]
print(_countries_dict)

In [ ]:
_countries_dict = {}
for k, v in zip(_countries, _temps):
  print(k, v)
  _countries_dict[k] = v

In [ ]:
my_zip = zip(_countries, _temps)
print(*zip(_countries, _temps))

In [ ]:
Operations on Lists

In [ ]:
print(_temps)

convert our temps to fahrenheit (*9/5 + 32)

In [ ]:
use a loop
f_temp = []
for temp in _temps:
  f = temp * 9/5 + 32
  f_temp.append(f)
  
print(f_temp)

Use a map()

In [ ]:
_fah = map(lambda x: x * 9 / 5 + 32, _temps)
print(_fah)
print(list(_fah))

## Comprehensions

How do we convert a dictionary into a list?

'Kenya = 17'

In [ ]:
for k, v in _countries_dict.items():
  print('{} = {}'.format(k, v))

In [ ]:
my_list = map(lambda x, y: '{} = {}'.format(x, y), _countries_dict.keys(), _countries_dict.values())
print(list(my_list))

In [ ]:
print(_countries_dict.items())

In [ ]:
my_list = ['{} = {}'.format(k, v) for k, v in _countries_dict.items()]
print(my_list)

How do we convert a list into a dictionary?

In [ ]:
for i in _countries:
  print(i, len(i))

In [ ]:
print(_countries)
my_dict = {i:len(i) for i in _countries}
print(my_dict)

Can we nest ranges?

In [ ]:
for week in range(1,3):
  for day in ['mon', 'tue', 'wed', 'thu', 'fri']:
    for hour in range(24):
      print('week {} : {} : {}'.format(week, day, hour))
weeks_and_days = [('week {}'.format(week), day, hour) for week in range (1,3) for day in ['mon', 'tue', 'wed', 'thu', 'fri'] for hour in range(24)]
print(weeks_and_days)

How about conditionals?

In [ ]:
div_by_7 = [n ** n for n in range(100) if (n ** n) % 7 == 0]
print(div_by_7)

## Iterators
Objects that contain a countable number of items

In [ ]:
_l = ['one', 'two', 'three', 'four', 'five']
print(next(_l))

In [ ]:
_list1 = ['one', 'two', 'three', 'four', 'five']
myIter = iter(_list1)

In [ ]:
print(next(myIter))

lists, dictionaries and sets are iterables that yield iterators. Can we create a class that behaves the same way?

In [ ]:
class MyIterable:
  def __iter__(self):
    self.value = 2
    return self
  
  def __next__(self):
    x = self.value
    self.value *= 2
    return x

In [ ]:
_myIterable = MyIterable()
_myIterator = iter(_myIterable)

In [ ]:
print(next(_myIterator))
print(next(_myIterator))
print(next(_myIterator))
print(next(_myIterator))
print(next(_myIterator))

In [ ]:
## Generators

In [ ]:
def _doubles(n):
  b = []
  a = 2
  while a < n:
    b.append(a)
    a *= 2
  return b

In [ ]:
print(sum(_doubles(60)))

In [ ]:
def _my_doubles(n):
  a = 2
  while a < n:
    yield a
    a *= 2

In [ ]:
a = _my_doubles(60)

In [ ]:
print(type(a))
print(a)
print(next(a))
print(sum(a))
print(*a)

In [ ]:
for item in a:
  print(item)

In [ ]:
weeks_and_days = [('week {}'.format(week), day, hour) for week in range (1,3) for day in ['mon', 'tue', 'wed', 'thu', 'fri'] for hour in range(24)]
print(weeks_and_days)

In [ ]:
weeks_and_days = ( ('week {}'.format(week), day, hour) for week in range (1,3) for day in ['mon', 'tue', 'wed', 'thu', 'fri'] for hour in range(24) )
print(weeks_and_days)

In [ ]:
print(next(weeks_and_days))

In [ ]:
for item in weeks_and_days:
  print(item)

In [ ]:
n = 6
for i in range (1, n):
  print(2 ** i)

In [ ]:
_list = [2 ** i for i in range(1,6)]
print(_list)

In [ ]:
_gen = (2 ** i for i in range(1, 6))
print(*_gen)

**We have worked with pure Python thus far, but let's import some libraries and do some more

In [ ]:
import pandas as pd
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
iris_array = iris[[0, 1, 2, 3]].values
import pandas as pd
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
iris_array = iris[[0, 1, 2, 3]].values

In [ ]:
## Numpy

Compute the areas of some rectangles

In [ ]:
_lengths = [5, 4, 8, 3, 9]
_breadths = [10, 11, 29, 24, 32]
_areas = []

In [ ]:
for i, j in zip(_lengths, _breadths):
  _areas.append(i * j)
print(_areas)

In [ ]:
_areas = map(lambda l, b: l * b, _lengths, _breadths)
print(list(_areas))

That was easy, so lets perform other mathematical operations:

* find maximum values
* find minimum values
* sum up the values
* etc

In [ ]:
import numpy as np

In [ ]:
print(_lengths)
_l_array = np.asarray(_lengths)
print(_l_array)
_b_array = np.asarray(_breadths)
_areas_array = _l_array * _b_array
print(_areas_array)

check length

In [ ]:
print(len(_areas_array))

print value at an index

In [ ]:
print(_areas_array[0])

In [ ]:
print(_areas_array[1])

Perform comparisons

In [ ]:
print(_areas_array > 100)

2D Array

In [ ]:
_boxes = np.array([_lengths, _breadths])
print(_boxes)
print(_boxes.shape)

Can we subset?

Print 1st row

In [ ]:
print(_boxes[0])

Print 2nd row

In [ ]:
print(_boxes[1])

Print 1st item in 2nd row

In [ ]:
print(_boxes[1][0])

### working with iris_array

print top 3 rows

In [ ]:
print(iris_array[:6])
print(iris_array[2].shape)

print mean of all values in column 0

In [ ]:
# get one column (you need to specify all the rows)
print(iris_array[:3][0])
print(iris_array[2])

In [ ]:
print(np.mean(iris_array[0:,0]))

median

In [ ]:
print(np.median(iris_array[:, 0]))

standard deviation

In [ ]:
print(np.std(iris_array[:, 0]))

correlation coefficient

In [ ]:
print(np.corrcoef(iris_array[0], iris_array[1]))

sum

Generate some data

In [ ]:
heights = np.random.normal(1.6, 0.1, 5000)
weights = np.random.normal(65, 15, 5000)
print(weights[:2])
print(heights[:2])

truncate to 2 decimal places

In [ ]:
heights = np.round(heights, 2)
weights = np.round(weights, 2)

make a 2D array

In [ ]:
persons = np.column_stack( (heights, weights) )
print(persons[:5])

## Plotting

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
year = [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000]
pop = [7.24, 7.05, 6.70, 6.30, 6.01, 5.93, 6.12, 6.52, 7.06, 7.59, 8.03]
year = np.asarray(year)
pop = np.asarray(pop)

Can we plot a time series?

In [ ]:
plt.plot(year, pop)
plt.show()

Let's add axis labels

In [ ]:
plt.plot(year, pop)
plt.xlabel('Year')
plt.ylabel('Population (M)')

In [ ]:
# Give the chart a label
plt.title('Population for Country X')

# Control the numbers shown on the vertical axis
plt.yticks([0, 2, 4, 6, 8, 10], ['0', '2M', '4M', '6M', '8M', '10M'])
plt.show()

Can we plot a scatter diagram?

In [ ]:
plt.scatter(year, pop)

can we plot a histogram?

In [ ]:
plt.hist(iris_array[:,0], bins=5)
plt.show()

## Pandas

In [ ]:
import pandas as pd

Recall our dictionary

In [ ]:
_countries_list = ['Kenya', 'Rwanda', 'Uganda']
_temperatures_list = [17, 19, 21]

In [ ]:
for i in range(len(_countries_list)):
  print('country: {} temperature: {}'.format(_countries_list[i], _temperatures_list[i]))
for k, v in zip(_countries_list, _temperatures_list):
  print(k,v)
_dict = dict(country=_countries_list, temperature=_temperatures_list)
print(_dict)

In [ ]:
_df = pd.DataFrame(_dict)
print(_df)

In [ ]:
_countries_dict = {'Kenya': 17, 'Rwanda': 19, 'Uganda': 21}
print(_countries_dict)

Can we see the same information as a table?

In [ ]:
_countries_1 = {'Country': _countries_list, 'Temperature': _temperatures_list}
print(_countries_1)
_countries_2 = pd.DataFrame(_countries_1)

Let's see the top n

In [ ]:
_countries_2.head()

In [ ]:
print(type(_countries_2))

Let's add indexes

In [ ]:
_countries_2.index = ['KE', 'RW', 'UG']

View the DataFrame Again

In [ ]:
_countries_2

In [ ]:
Fetch more data to work with

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
df = pd.read_csv('./gapminder/population_total.csv')
_iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)

How many columns are in this data?

In [ ]:
_iris.info()

In [ ]:
_iris.head()

In [ ]:
df.info(verbose=True)

In [ ]:
df.head()

How many rows are in this data?

Perform summary statistics

In [ ]:
iris.describe()

Show data for the year 2000

In [ ]:
df_2000 = df[['country', '2000']]
df_2000.head()

Show data for 1990 and 2000

In [ ]:
df[['country', '1990', '2000']].head()

Show data from rows 10 to 15

In [ ]:
df[10:15]

Extract the following columns into a new DataFrame

* country
* 1980
* 1990
* 2000

In [ ]:
new_df = df[['country', '1980', '1990', '2000']]

show the new DataFrame

In [ ]:
new_df.head()

Set the country as the index

In [ ]:
new_df.set_index(['country'], inplace=True)
new_df.head()

show 1980 data for Angola

In [ ]:
new_df.loc[['Angola'], ['1980']]

In [ ]:
new_df.loc[['Angola', 'Zimbabwe'], ['1980', '2000']]

Let's apply a filter

In [ ]:
print(type(new_df[['1980']]))

In [ ]:
new_df[['1980']].head()

In [ ]:
print(type(new_df['1980']))

In [ ]:
print(new_df['1980'].values)

In [ ]:
new_df['1980'] > 8000000

In [ ]:
my_filter = new_df['1980'] > 8000000

In [ ]:
new_df[my_filter]

Let's combine filters

In [ ]:
new_df[np.logical_and(new_df['1980'] > 7000000, new_df['1980'] < 8000000)]